<div class="row">
    <nav class="header col-12 navbar navbar-light bg-light">
      <a class="navbar-brand" href="/homepage">
        <img src="../images/train.png" width="30" height="30" class="d-inline-block align-top" alt="">
        TicketTac
      </a>
      <div>           
        <a href="/login" class="btn-nav-connection">Connection</a> 
        <a href="/user-page"class="btn-nav-trips">My last trips</a> 
        <a href="/users/logout" class="btn-nav-deconnect">Logout</a> 
      </div>

    </nav>
  </div>
</div>  
