body {
  margin: 0;
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(#C5DEE9, #3B88B8)
}

/* Navbar */

.header-title {
  font-weight: 700;
  color: #1e1e1e;
  margin-top: 12px;
  margin-left: 5px;
  display: inline;
}

.btn-nav-connection{
  color: #C80000;
  margin-right:10px; 
  font-weight: bold;
}

.btn-nav-connection:link {
  text-decoration: none;
}

.btn-nav-connection:hover {
  color: #C80000;
}

.delete-picto {
  color: #C80000;
  cursor: pointer;
}

.delete-picto:hover {
  transform: scale(1.5);
}

.delete-picto:active {
  transform: scale(1.6);
}

.btn-nav-trips{
  color: black;
  margin-right: 10px;
  font-weight: bold;
}

.btn-nav-trips:link {
  text-decoration: none;
}

.btn-nav-trips:hover {
  color: black;
}

.btn-nav-deconnect {
  color: black;
  font-weight: bold;
  margin-right: 10px;
}

.btn-nav-deconnect:link {
  text-decoration: none;
}

.btn-nav-deconnect:hover {
  color: black;
}

#last-trip {
  color: black;
}

 #title-login {
  color: white;
  font-weight: 500;
  text-align: center;
}


/* Main Pages */
h4 {
  margin-left: 330px;
  padding-top: 50px;
  color: white;
  text-align: center;
}

h3 {
  margin-left: 200px;
  color: white;
  padding-top: 50px;
}

#table-user {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
} 

#btn {
  margin-left: 75%;
  margin-top: 20px;
}

h2{
  color: rgba(255, 255, 255, 1);
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.message{
  width: 600px;
  height: 600px;
  display: flex;
  text-align: end;

}

.alignCopyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */
.footer {
  font-style: italic;
  color: lightgray;
}

